body {
    background: black;
}

h1 {
    text-align: center;
    width: 100%;
}

.reg {
    margin: 0% 0% 0% 18%;
    padding: 0.1% 0% 0.1% 0%;

    background-color: rgb(233, 240, 240);
    width: 60%;

}


.reg p {
    width: 70%;
    font-weight: 800;
    font-size: x-large;
    margin-top: 2.5%;
    padding: 2% 0% 2% 6%;

}

.reg .button input {
    margin-left: 28%;
}

.reg input {
    /* width: 40%; */
    border-radius: 10%;
    font-size: x-large;
}